.mochi-guy {
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  height: 100%;
  left: 0;
  top: 0;
  margin: auto;

  z-index: -1;
  position: absolute;
  content: "";
  background-image: url("mochiSpin3.png");
  background-size: cover;
  animation-name: mochi-spin;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 30s;
  -webkit-animation-name: mochi-spin;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 30s;
  -moz-animation-name: mochi-spin;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 30s;
}

.mochi-guy::after {
  content: "";
}

@keyframes mochi-spin {
  from {
    transform: rotate(0deg);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: rotate(360deg);
    transform-origin: 50% 50% 0;
  }
}

@-moz-keyframes mochi-spin {
  from {
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50% 0;
  }
  to {
    -moz-transform: rotate(360deg);
    -moz-transform-origin: 50% 50% 0;
  }
}

@-webkit-keyframes mochi-spin {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50% 0;
  }
  to {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50% 0;
  }
}
