@import "../../mixin";

.mochi-guy::after {
  width: 100%;
  max-width: 650px;
  max-height: 650px;
  height: 100%;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  position: absolute;
  content: "";
  @include theme-aware("background-image", "mochi-guy");
  @include theme-aware("opacity", "bg-opacity");
  background-size: cover;
  background-position: center;
  animation-name: mochi-spin;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 30s;
  -webkit-animation-name: mochi-spin;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 30s;
  -moz-animation-name: mochi-spin;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 30s;
}

@keyframes mochi-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: 50% 50% 0;
  }
}

@-moz-keyframes mochi-spin {
  from {
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform-origin: 50% 50% 0;
  }
  to {
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform-origin: 50% 50% 0;
  }
}

@-webkit-keyframes mochi-spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform-origin: 50% 50% 0;
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform-origin: 50% 50% 0;
  }
}
