body {
  background: #0000ff33;
}

.settingsBox {
  background: #9500ff;
  background: linear-gradient(160deg, #9500ff99 0%, #001aff99 100%);
  padding: 15px 20px 15px;
  border-radius: 30px;
}

.whiteText {
  color: white;
}

.greenText {
  color: #00ff00;
}

.picView {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}