@import "../../_mixin";

.entry
{
    @include theme-aware("color", "secondary");
    @include theme-aware("text-shadow", "text-shad");
    @include theme-aware("background", "settings-text-bg");
    @include theme-aware("border", "settings-text-bg");
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.entry:hover
{
    box-shadow: 0px 0px 10px rgba(100,100,100,0.2);
    -webkit-box-shadow: 0px 0px 10px rgba(100,100,100,0.2);
    -moz-box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.2);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.entry:focus
{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}

.btn
{
    @include theme-aware("background-image", "btn-grad");
    @include theme-aware("color", "secondary");
    @include theme-aware("text-shadow", "text-shad");
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.btn:hover
{
    @include theme-aware("background-image", "btn-grad-hover");
    @include theme-aware("color", "secondary");
    @include theme-aware("text-shadow", "text-shad");
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.reg-box
{
    padding: 15px 20px 15px;
    border-radius: 30px;
    @include theme-aware("background", "settings-boxes");
}

.submit-btn
{
    background-color:  rgb(250, 250, 250);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.submit-btn:hover
{
    background-color:  #d0ffd0;
    box-shadow: 2px 2px 8px rgba(150,150,150,0.2);
    -webkit-box-shadow: 2px 2px 8px rgba(150,150,150,0.2);
    -moz-box-shadow: 2px 2px 8px rgba(150, 150, 150, 0.2);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}
.prof-img
{
    max-width: 30px;
    max-height: 30px;
    border-radius: 10px;
    content: ' ';
    margin-right: 8px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
}

.welc-msg
{
    color: #fefefe;
    text-shadow: 1px, 1px 8px rgba(0,0,0,0.1);
    margin-right: 12px;
}

.log-btn
{
    text-shadow: 1px 1px 8px #232323;
    color: #fefefe;
    background-image: linear-gradient(122deg, #22aa22, #008800);
    border-radius: 6px;
    border: 3px #117711;
    padding: 8px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

.log-btn:hover
{
    text-shadow: 1px 1px 8px #232323;
    background-image: linear-gradient(122deg, #66c966, #88da88);
    border-radius: 0px;
    border: 0px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

.logout-btn
{
    color: #fefefe;
    text-shadow: 1px 1px 8px #232323;
    background-image: linear-gradient(122deg, #9b1cc2, #750d6c);
    border-radius: 6px;
    border: 3px #117711;
    padding: 8px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

.logout-btn:hover
{
    text-shadow: 1px 1px 8px #232323;
    background-image: linear-gradient(122deg, #fa6464, #e0764b);
    border-radius: 0px;
    border: 0px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}



.log-entry
{
    max-width: 120px;
}

.logo-vec
{
    max-width: 30px;
    max-height: 30px;
}

.nav
{
    @include theme-aware("background", "settings-boxes");
}